@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500;600;700;900&display=swap');

*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
body{
    max-height: 1884px;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    font-size: 1.375em;
}
h2{
    font-size: 1.125em;
}
h3{
    font-size: 1em;
}
i{
    color:#0065FC
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 2em 0 3em;             
}
nav img{
    width: 3.818em;
    height: 19px;
}
#liens a{
    padding: 30px;
}
#liens a:hover{
    color:#0065FC;
    border-top: 2px solid #0065FC;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
header h1{
    margin: 0 0 5px;
}
h1+p{
    margin:0;
}
form{
    display: flex;
    align-items: center;
    width: 30%;
}
form p{
    display: flex;
    width: 66%;
}
input{
    width: 83%;
    height: 49px;
    border:1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    font-size: 1.125em;
    text-align: center;
}
label{
    display:flex;
    width: 17%;
    height: 49px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
}
form i{
    color:black;
    margin: auto;
}
input::placeholder{
    font-weight: bold;
    color: black;
}
button{
   width: 33%;
   height: 49px;
   font-size: 1.125em;
   font-weight: bold;
   color: white;
   background-color: #0065FC;
   border: 1px solid #0065FC;
   border-radius: 0 15px 15px 0;
}
#filtre{
    display: flex;
    justify-content: space-between;
    width:65%;
    margin: 15px 0 25px;
    align-items: center;
}
#filtre div{
    display: flex;
    justify-content: center;
    width: auto;
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    align-items: center;
    padding: 1em 1.5em;
}
#filtre p{
    font-weight: bold;
    margin-left: 10px;
}
#pub{
    display: flex;
    align-items: center;
    width: 35%;
}
#pub i{
    width: 24px;
    height: 24px;
    border:1px solid #D9D9D9;
    border-radius: 100%;
    margin-right: 12px;
    text-align: center;
    padding-top: 9px;
}
main{
    display: flex;
    flex-flow: row wrap;
    margin-top: 1.5em;
}
#hebergement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 65%;
    height: 626px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding:0 2.5em 0.5em;
}
#hebergement h1{
    width: 100% ;
    align-self:flex-end;
}
.card-h{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 199px;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.cont-h{
    line-height: 50%;
    padding-left: 10px;
}
#hebergement h3{
    margin: 10px 0;
}
#hebergement p{
    font-size: 0.875em;
}
#hebergement h2{
    width: 100% ;
}
#populaire{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 32%;
    height: 625px;
    border-radius: 20px;
    background-color: #F2F2F2;
    margin-left: 40px;
    padding: 0 3em 1.5em;
}
#titre{
    display: flex;
    align-items: center;
    align-self: flex-end;
    width: 100%;
    justify-content: space-between;
   
}
.card-p{
    display: flex;
    width: 100%;
    height: 144px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.cont-p{
    display: flex;
    width: 50%;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 1em;
}
#populaire p{
    margin:0 0 40px;
}
#populaire h3{
    margin-bottom: 4px;
}
#activite{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 2.5em;
}
#activite h1{
    width: 100%;
}
#activite div{
    width: 22%;
    border-radius:20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;   
}
#activite h3{
    padding-left: 20px;
}
footer{
    display: flex;
    height: 225px;
    width: 100%;
    background-color: #F2F2F2;
    margin: 3.813em auto 0 auto;
}
.contact
{
    margin-top:30px;
    margin-left: 30px;
    width: 30%;
}
.contact h2{
    margin-left: 2.15em;
}
li{
    list-style-type: none;
    font-size: medium;
    margin-bottom: 0.75em;
}
img{
    object-fit: cover;
}
#hebergement img{
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;  
}
#populaire img{
    width:35%;
    height: 144px;
    border: 5px solid white;
    border-radius: 20px 0 0 20px;
    
}
#activite img{
    width: 100%;
    height: 389px;
    border-radius: 20px 20px 0 0;  
}
.etoile i:last-child{
    color: #F2F2F2;
}
@media all and (max-width: 1024px){
form{
    width: 43%;
}
#filtre{
    width: 90%;
}
#pub{
    width: 60%;
}
#hebergement {
    width: 100%;
}
#populaire{
width: 100%;
height: 278px;
justify-content: space-between;
margin: 3em 0;
padding: 0 3em 2.5em;
}
.card-p{
    width:30%;
    height: 144px;
}
#activite
{
    margin:0;
}
#activite div{
    display:flex;
    flex-wrap: wrap;
    width: 21%;
    height:267px;
}
#activite h3{
    width:75%;
}
#activite div:last-child h3{
    width:60%;
}
footer{
    height: 225px;
}
#hebergement img{
    height: 124px;
}
#popuplaire img{
    width: 40%;
}
#activite img{
    height: 211px;
}
}